<md-dialog>
  <form
    ng-submit="opcion.agregar()">
    <div>
          <md-input-container>
            <label>
              Email
            </label>
            <input
             ng-model="opcion.email"
              type="text"
              >
          </md-input-container>
          <br>
          <md-input-container>
            <label>
              Password
            </label>
            <input
             ng-model="opcion.password"
             type="text">
          </md-input-container>
          <br>
          <md-input-container>
            <label>
              Username
            </label>
            <input
             ng-model="opcion.username"
             type="text">
          </md-input-container>
          <br>
          <md-input-container>
            <label>
              Confirmation
            </label>
            <input
             ng-model="opcion.confirmation"
             type="text">
          </md-input-container>
          <br>
          <md-input-container>
            <label>
              Rol
            </label>
            <input
             ng-model="opcion.rol"
             type="text">
          </md-input-container>
          <br>
          <md-input-container>
            <label>
              Blog
            </label>
            <input
             ng-model="opcion.blog"
             type="text">
          </md-input-container>
          <br>
          <md-input-container>
            <label>
              Nombre
            </label>
            <input
             ng-model="opcion.nombre"
             type="text">
          </md-input-container>
          <center>
            <md-input-container>
              <md-button
               type="submit"
                value="enviar"
                >Agregar
              </md-button>
            </md-input-container>
          </center>
        </div>
  </form>
</md-dialog>
