<md-dialog>
  <form ng-submit="opcion.agregarLates()">
    <div>
          <md-input-container>
            <label>Nombre</label>
            <input ng-model="opcion.user" type="text">
          </md-input-container>
          <md-input-container>
            <label>Apellido</label>
            <input ng-model="opcion.apellido"  type="text">
          </md-input-container>
            <md-input-container>
              <md-button type="submit" value="enviar">Agregar</md-button>
            </md-input-container>
          
        </div>
  </form>
</md-dialog>
