<md-dialog>
    <form
    ng-submit="opcion.agregarMensages()"
    >
      <div>
            <md-input-container>
              <label>
                Usuario
              </label>
              <input
               ng-model="opcion.user"
               type="text"
               >
            </md-input-container>
            <br>
            <md-input-container>
              <label>
                Asunto
              </label>
              <input
               ng-model="opcion.apellido"
                 type="text"
                 >
            </md-input-container>
            <br>
            <md-input-container>
              <label>
                Blog
              </label>
              <input
               ng-model="opcion.apellido"
                 type="text"
                 >
            </md-input-container>
            <br>
            <md-input-container>
              <label>
                Mensajes
              </label>
              <input
               ng-model="opcion.apellido"
                 type="text"
                 >
            </md-input-container>
            <br>
            <md-input-container>
              <label>
                Destino
              </label>
              <input
               ng-model="opcion.apellido"
                 type="text"
                 >
            </md-input-container>
            <br>
            <md-input-container>
              <label>
                Tipo
              </label>
              <input
               ng-model="opcion.apellido"
                 type="text"
                 >
            </md-input-container>
            <br>
            <md-input-container>
              <label>
                Estado
              </label>
              <input
               ng-model="opcion.apellido"
                 type="text"
                 >
            </md-input-container>
            <br>
            <md-input-container>
              <label>
                Comentario
              </label>
              <input
               ng-model="opcion.apellido"
                 type="text"
                 >
            </md-input-container>
            <br>
            <center>
              <md-input-container>
                <md-button
                 type="submit"
                  value="enviar"
                  >
                  Enviar
                </md-button>
              </md-input-container>
            </center>
          </div>
    </form>
  </md-dialog>
